.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottombreathe {
  margin-bottom: 15px;
}

#profilephoto {
  max-width: 150px;
  margin: 0 auto;
}

.biglink a {
    display:block;
    padding: 15px 15px;
    text-align: center;
    border: 1px dotted linen;
}

.biglink a:hover {
    background:#D6EAE0;
    text-decoration:none;
}

.detail {
  margin-top: 30px;
}

#tagline {
  padding:10px 0px 0px 0px;
  font-size:18px;
}

#tagaddendum {
  margin-top: -0.7em;
}

#linkrow-footer {
  margin-top:40px;
}

#minihandle {
  margin-bottom: 10px;
}

#minime {
  margin-left: 20px;
}

#minipillimage {
  max-width: 100px;
}

body, input, button, select, textarea, p, a {
  font-family: 'Open Sans', sans-serif;
  color: gray;
}

.social-logo {
  width: 16px;
  height: 16px;
}
