.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#profilephoto {
  max-width: 150px;
  margin: 0 auto;
}

.biglink {
    font-size:18px;    
    color:gray;
}

.biglink a {
    display:block;
    padding: 15px 15px;
}

.biglink a:hover {
    background:#D6EAE0;
    text-decoration:none;
}

.detail {
  margin-top: 30px;
}

.detail p, a, ul, li {
  text-align: left;
}

#tagline {
  padding:10px 10px;
  font-size:18px;
}

#linkrow-footer {
  margin-top:40px;
}

#minihandle {
  margin-bottom: 10px;
}

#minime {
  margin-left: 20px;
}

#minipillimage {
  max-width: 100px;
}

body, input, button, select, textarea, p, a {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  text-align: center;
}
