[submodule "hue-gowanus"]
	path = hue-gowanus
	url = https://github.com/sjforman/hue-gowanus.git
[submodule "wedding"]
	path = wedding-website
	url = https://github.com/sjforman/wedding-website.git
  ignore = dirty
