---
layout: default
title: scott j. forman | home
---

<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
  <div class="fl w-100 w-50-ns pa2">
    <h1 class="tc f4 f3-m f-headline-1">scott j. forman</h1>
    <div class="pb2 tc">
      <img src="/img/profilephoto.jpg" class="h3 w3 dib br-100" id="profilephoto" alt="profile photo">
    </div>
    {% include linkrow.html %} 
  </div>

  <div class="fl w-100 w-50-ns">
    <ul class="list">
      {% for post in site.posts %}
      <li class="pv2">
        <a class="link blue hover-orange" href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
