<a href="https://www.facebook.com/sjforman">
    <img src=/img/facebook.ico alt="facebook icon"/>
</a>
<a href="https://twitter.com/sjforman">
    <img src=/img/twitter.ico alt="twitter icon"/>
</a>
<a href="http://instagram.com/secondmonkey">
    <img src=/img/instagram.ico alt="instagram icon"/>
</a>
<!--<a href="https://soundcloud.com/secondmonkey">-->
    <!--<img src=./img/soundcloud.ico alt="soundcloud icon"/>-->
<!--</a>-->
<a href="http://www.flickr.com/photos/47425007@N00/">
    <img src=/img/flickr.ico height="16" width="16" alt="flickr icon" />
</a>
<a href="http://www.linkedin.com/in/scottforman/">
    <img src=/img/linkedin.ico alt="linkedin icon"/>
</a>

<!--Copy social icon strategy from http://veodesign.com/en/ -->
