{{ define "main" }}
<div class="flex flex-col items-center min-h-screen px-4 py-8 space-y-4 sm:space-y-8 dark:bg-gray-900 dark:text-slate-50">
    <!-- Tags Filter -->
    <div class="tags-filter text-sm mb-4 flex flex-wrap items-center justify-center gap-2 max-w-3xl">
        {{ if .Data.Term }}
            <span>Filtered for: <span class="font-mono">{{ .Data.Term }}</span></span>
            <a href="/posts/" class="underline py-1">See all posts</a>
        {{ else }}
            <span>Filter for:</span>
            {{ range .Site.Taxonomies.tags }}
                <a href="{{ .Page.Permalink }}" class="font-mono py-1 px-2 hover:bg-gray-100 dark:hover:bg-gray-800 rounded">{{ .Page.Title | lower }}</a>
            {{ end }}
        {{ end }}
    </div>

    {{ $currentPageTag := .Params.tag }}
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $currentPageTag) }}
        {{ partial "post-card.html" . }}
    {{ else }}
        {{ range .Pages }}
            {{ partial "post-card.html" . }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
