{{ define "main" }}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
function atomFeed() {
  return {
    entries: [],
    loadFeed() {
      fetch('https://sjforman-microblog.s3.us-west-1.amazonaws.com/microblog.atom')
        .then(response => response.text())
        .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
        .then(data => {
          const entries = data.querySelectorAll("entry");
          this.entries = Array.from(entries).map(el => {
            const published = new Date(el.querySelector("published").textContent);
            const renderedContent = marked.parse(el.querySelector("content").textContent);
            const imageElement = el.querySelector('link[rel="enclosure"][type="image/jpeg"]');
            const imageUrl = imageElement ? imageElement.getAttribute("href") : null;
            return {
              content: renderedContent,
              id: el.querySelector("id").textContent,
              published: this.timeSince(published),
              fullDate: published.toLocaleString(),
              imageUrl: imageUrl
            };
          });
        });
    },
      timeSince(date) {
        const seconds = Math.floor((new Date() - date) / 1000);

        let interval = Math.floor(seconds / 31536000);
        if (interval > 1) return interval + "y";

        interval = Math.floor(seconds / 2592000);
        if (interval > 1) return interval + "mo";

        interval = Math.floor(seconds / 86400);
        if (interval > 1) return interval + "d";

        interval = Math.floor(seconds / 3600);
        if (interval > 1) return interval + "h";

        interval = Math.floor(seconds / 60);
        if (interval > 1) return interval + "m";

        return Math.floor(seconds) + "s";
      },
    };
  }
</script>

<main class="flex flex-col items-center min-h-screen bg-gray-50 px-4 py-8 space-y-4 sm:space-y-8 dark:bg-gray-900 dark:text-slate-50">
  <!-- Information Section -->
  <div class="relative mb-4 max-w-3xl w-full">
    <div class="text-xs text-gray-400 mb-2 inline-block leading-7">
      What is this? It's a microblog. Brief thoughts, ideas, observations, etc., in a form resembling social media, but...you know...not social. Antisocial. You can also subscribe through your RSS reader. Remember Google Reader? That was a better world.
      <!-- Subscribe Button -->
      <a href="https://sjforman-microblog.s3.us-west-1.amazonaws.com/microblog.atom" target="_blank" rel="noopener noreferrer" class="text-xs bg-gray-300 text-gray-600 h-6 py-1 px-2 rounded inline-block ml-2 align-middle">
        Subscribe
      </a>
    </div>
  </div>
  <div x-data="atomFeed()" x-init="loadFeed()">
    <template x-for="entry in entries" :key="entry.id">
      <div class="block border-gray-300 bg-white rounded-xl p-8 w-full max-w-3xl shadow-lg mb-4 flex flex-col dark:bg-gray-600 dark:text-slate-50">
        <div class="self-end text-xs text-gray-400 mb-2" :title="entry.fullDate" x-text="entry.published"></div>
        <div x-html="entry.content" class="mb-3 text-lg"></div>
        <template x-if="entry.imageUrl">
          <div class="mt-4">
            <img class="rounded-lg object-cover w-full h-48" :src="entry.imageUrl" :alt="entry.content">
          </div>
        </template>
      </div>
    </template>
  </div>
</main>

{{ end }}