{{ $image := resources.Get "images/fermata.svg" }}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $css := resources.Get "css/index.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="bg-gray-50">
<header class="p-4 text-xl">
    <nav class="flex items-center">
        <img src="{{ $image.Permalink }}" alt="fermata" class="inline-block">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a 
            class="mx-4 {{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}"
            href="{{ .URL }}">
            {{ .Name }}
        </a>
      {{ end }}
    </nav>
</header>

<style>
    .is-active {
        text-decoration: underline;
    }
</style>