<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $css := resources.Get "css/index.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else if eq .Type "post" }}
    {{ .Title }} | Blog
    {{ else if eq .Section "macroblog" }}
    Macroblog | {{ .Site.Title }}
    {{ else }}
    {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>
</head>
