<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
function atomFeed() {
  return {
    entries: [],
    loadFeed() {
      fetch('/microblog.xml')
        .then(response => response.text())
        .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
        .then(data => {
          const entries = data.querySelectorAll("entry");
          this.entries = Array.from(entries).map(el => {
            const updated = new Date(el.querySelector("updated").textContent);
            const renderedContent = marked.parse(el.querySelector("content").textContent);
            return {
              content: renderedContent,
              id: el.querySelector("id").textContent,
              updated: this.timeSince(updated),
              fullDate: updated.toLocaleString(),
            };
          });
        });
    },
      timeSince(date) {
        const seconds = Math.floor((new Date() - date) / 1000);

        let interval = Math.floor(seconds / 31536000);
        if (interval > 1) return interval + "y";

        interval = Math.floor(seconds / 2592000);
        if (interval > 1) return interval + "mo";

        interval = Math.floor(seconds / 86400);
        if (interval > 1) return interval + "d";

        interval = Math.floor(seconds / 3600);
        if (interval > 1) return interval + "h";

        interval = Math.floor(seconds / 60);
        if (interval > 1) return interval + "m";

        return Math.floor(seconds) + "s";
      },
    };
  }
</script>

<main class="flex flex-col items-center min-h-screen bg-gray-50 px-4 py-8 space-y-4 sm:space-y-8">
  <div x-data="atomFeed()" x-init="loadFeed()">
    <template x-for="entry in entries" :key="entry.id">
      <a :href="'/' + entry.id" class="block border border-gray-300 bg-white rounded-xl p-8 w-full max-w-3xl shadow-lg mb-4 flex flex-col">
        <div class="self-end text-xs text-gray-400 mb-2" :title="entry.fullDate" x-text="entry.updated"></div>
        <div x-html="entry.content" class="mb-3 text-lg"></div>
      </a>
    </template>
  </div>
</main>