<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<script>
  function atomFeed() {
    return {
      entries: [],
      loadFeed() {
        fetch('/microblog.xml')
          .then(response => response.text())
          .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
          .then(data => {
            const entries = data.querySelectorAll("entry");
            this.entries = Array.from(entries).map(el => {
              return {
                content: el.querySelector("content").textContent,
                id: el.querySelector("id").textContent,
                updated: new Date(el.querySelector("updated").textContent).toLocaleString(),
              };
            });
          });
      },
    };
  }
</script>

<main class="flex flex-col items-center min-h-screen bg-gray-50 px-4 py-8 space-y-4 sm:space-y-8">
    <div x-data="atomFeed()" x-init="loadFeed()">
      <template x-for="entry in entries" :key="entry.id">
        <a :href="'/' + entry.id" class="block border border-gray-300 bg-white rounded-xl p-8 w-full max-w-3xl shadow-lg">
          <div x-text="entry.content" class="mb-3 text-lg"></div>
          <div x-text="entry.updated" class="text-right text-gray-400 text-xs"></div>
        </a>
      </template>
    </div>
  </main>