{% include head.html %}

<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">

    <div class="fl w-100 w-20-ns pa2">
      <h1 class="tc f4 f3-m f-headline-1">scott j. forman</h1>
      <div class="pb2 tc">
        <a class="link" href="/">
          <img src="/img/profilephoto.jpg" class="h3 w3 dib br-100" id="profilephoto" alt="profile photo">
        </a>
      </div>
      {% include linkrow.html %} 
    </div>

    <div class="fl w-100 w-80-ns pl4 pl5-ns">
      <h1>{{ page.title }}</h1>
      <p>{{ page.date | date_to_string }}</p>
        <div class="lh-copy measure">
        {{ content }}
        </div>
    </div>

  </div>
</div>

{% include foot.html %}
