{{- $path := .Get "path" -}}
{{- $command := .Get "command" | default "resize 800x" -}}
{{- $alt := .Get "alt" -}}
{{- $linkText := .Get "linkText" -}}
{{- if $image := .Page.Resources.GetMatch $path -}}
  {{- $processedImage := $image.Process $command -}}
  {{- $src := $processedImage.RelPermalink -}}
  <a href="#" data-src="{{ $src }}" data-alt="{{ $alt }}" onclick="openModal('{{ $src }}', '{{ $alt }}'); return false;">{{ $linkText }}</a>{{- print "" -}}
{{- else -}}
  {{- errorf "Image not found: %s" $path -}}
{{- end -}}
